<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Form</title>
</head>
<body>

<h1>My Form</h1>

<form action="myform" method="post">
    Write stuff:
    <input name="textData" type="text"/>
    <input type="submit" value="Send"/>
</form>

<p>
    [Ajax POST] Write stuff:
    <input id="inputAsync" name="textData" type="text"/>
    <input type="button" onclick="readForm()" value="Send">
</p>
<p>
    [Ajax GET] Get random number (1-10):
    <input type="button" onclick="getRandomNumber()" value="Click me">
</p>


<p id="textAsync"></p>


<script>
    function readForm() {
        let textData = document.getElementById("inputAsync").value;
        <!--'content' is the data we want to send -->
        <!--in our case, 'content' is a JS object that represent an instance of the class Message in the java code-->
        <!--'msg' is the name of the instance variable in class Message, -->
        <!--and 'textData' is the name-attribute from the HTML input field -->
        let content = {msg: textData};
        fetch('http://localhost:8080/myformAsync', {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'post',
            <!--Set what you want to send on 'body' and "stringify" it as a json. -->
            body: JSON.stringify(content)
        })
        .then(function (response) {
            <!--"open" the Promise-response received back from the server as json. -->
            <!--We do so by returning it to the next caller inte the function chain -->
            return response.json();
        })
        .then(function (data) {
            console.log("This was recieved: ");
            console.log(data);
            document.getElementById("textAsync").innerText = data.msg;
        });
    }

    function getRandomNumber(){
        fetch('http://localhost:8080/myformAsync')
            .then(function (response) {
                return response.json();
            }).then(function (data) {
            console.log("This was recieved: ");
            console.log(data);
            document.getElementById("textAsync").innerText = data.msg;
        });
    }
</script>

</body>
</html>


