<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Form</title>
</head>
<body>

<h1>My Form</h1>

<form action="myform" method="post">
    Write stuff: <input name="textData" type="text"/>
    <input type="submit" value="Send"/>
</form>

<p>
    Write stuff (async):
    <input id="inputAsync" name="textData" type="text"/>
    <input type="button" onclick="readForm()" value="Send">
</p>
<p>
    Get random number (1-10):
    <input type="button" onclick="getRandomNumber()" value="Click me">
</p>


<p id="textAsync"></p>


<script>
    function readForm() {
        let textData = document.getElementById("inputAsync").value;
        let content = {msg: textData};
        document.getElementById("inputAsync").value = "";

        fetch('http://localhost:8080/myformAsync', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(content)
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            console.log("This was recieved: ");
            console.log(data);
            document.getElementById("textAsync").innerText = data.msg;
        });
    }

    function getRandomNumber(){
        fetch('http://localhost:8080/myformAsync')
            .then(function (response) {
                return response.json();
            }).then(function (data) {
            console.log("This was recieved: ");
            console.log(data);
            document.getElementById("textAsync").innerText = data.msg;
        });
    }
</script>

</body>
</html>


